/*
Colores
  cyan: hsl(179, 62%, 43%)
  lime: hsl(71, 73%, 54%)
  grey: hsl(204, 43%, 93%)
  light-blue: hsl(218, 22%, 67%)

Fuente de la página
  https://fonts.google.com/specimen/Karla
  Estilos 200 y 400
*/

* {
  box-sizing: border-box;
}

body {
  font-family: 'Karla', sans-serif;
  background-color: #333;
  color: hsl(204,43%,83%);
  margin:0px;
  font-weight: 400;

}

.container{
  position: relative;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5vh;
  width:60%;
  
}
.top-content,
.left-content,
.right-content{
  position: absolute;
  padding: 10px 30px;
}

.left-content,
.right-content{
  top:250px;
}

.top-content{
  width:100%;
  
  background-color: white;
  text-align: left;
  height: 250px;
}

.left-content{
  left: 0;
  width:50%;
  background-color:hsl(179, 62%, 43%);
  height: 300px;
}
.right-content{
  right: 0;
  width:50%;
  background-color: hsl(179 62% 43% / 0.8);
  height: 300px;
}

.text-cyan{
  color:hsl(179, 62%, 43%);
}

.text-lime{
  color:hsl(71, 73%, 54%);
}

.text-white{
  color:white;
}

.text-biggest{
  font-size: 2.5rem;
  font-weight: 400;
}
.text-big{
  font-size: 2rem;
  
}
.text-medium{
  font-size:1.5rem;
  font-weight: 400;
}
.text-normal{
  font-size:1rem;
}
.text-transparent{
  color: rgba(255 255 255 / 0.4);
}

.button{  
  display: inline-block;
  width: 100%;
  text-align: center;
  text-decoration: none;
  color:white;
  font-weight: 400;
  padding: 1em 0em;
  border-radius: 0.5em;
  box-shadow: 5px 5px 5px rgb(0 0 0 / 0.1);
  background-color: hsl(71, 73%, 54%);
}

.list{
  list-style: none;
  padding-left: 0px;
  font-weight: 200;
}